################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpendSmart/.vs/SpendSmart/FileContentIndex
/SpendSmart/.vs/SpendSmart/FileContentIndex/635b7ce5-308b-4829-9944-d7055b900476.vsidx
